* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #d9f3ff, #e6fff4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 390px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 22px;
    padding: 30px;
    box-shadow: 0 20px 45px rgba(0,0,0,0.18);
    text-align: center;
}

h1 {
    margin-bottom: 22px;
    color: #333;
}

.income-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.income-section input {
    flex: 1;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
}

.income-section button {
    padding: 12px 14px;
    border-radius: 12px;
    border: none;
    background: #2ecc71;
    color: white;
    cursor: pointer;
}

.stats {
    display: flex;
    gap: 12px;
    margin-bottom: 22px;
}

.stats div {
    flex: 1;
    border-radius: 16px;
    padding: 12px;
    color: white;
}

.stats div:nth-child(1) {
    background: linear-gradient(135deg, #2ecc71, #27ae60);
}

.stats div:nth-child(2) {
    background: linear-gradient(135deg, #ff7675, #e17055);
}

.stats div:nth-child(3) {
    background: linear-gradient(135deg, #74b9ff, #0984e3);
}

.stats p {
    font-size: 12px;
    opacity: 0.9;
}

.stats h3 {
    margin-top: 6px;
    font-weight: 500;
}
.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 18px;
}

.input-section input {
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
}

.input-section button {
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(135deg, #ff9f43, #ff6f61);
    color: white;
    cursor: pointer;
}
ul {
    list-style: none;
    max-height: 150px;
    overflow-y: auto;
}

li {
    background: #f7f7f7;
    padding: 10px 14px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}
